body {
    font-family: 'Poppins', arial, 'sans-serif';
}


.portal-header-shadow {
    box-shadow: 0px 3px 5px rgba($color: #888888, $alpha: .5);
}

.card {
    transition: .3s;
}

.card:hover {
    box-shadow: 3px 3px 5px rgba($color: #888888, $alpha: .5);
}

.card-kelas h2 {
    color: #212529;
}